
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
  line-height: 1.6;
  background-color: #fff; 
  color: #000; 
}


section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
  padding: 2px 0; 
  text-align: center;
  min-height: 90%; 
  width: 100%;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}


#top {
  background-color: #f8f9fa;  
}

#vision,
#service,
#profile {
  background-color: #ffffff;  
}

#message {
  background-color: #dee2e6;
}

