
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:  'Noto Sans JP', Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',sans-serif;
  line-height: 1.6;
}

section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
  padding: 2px 0px;
  text-align: center;
  min-height: 90%;
  width: 100%;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

#top { background: #f8f9fa; }
#vision { background: #FFFFFF; }
#message { background: #dee2e6; }
#service { background: #FFFFFF; }
#profile { background: #FFFFFF; }
