

  .main-top-container {
    width: 100%;
    height: 90vh; 
  
  }
  
  .main-top-container img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transform: translateX(-50%); 
    z-index: -1; 
  }
  
 
  #slogan {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    line-height: 1.2;
    z-index: 1; 
  }
  
  #slogan h1, #slogan h2 {
    margin: 0;
  }
  
  #slogan h1 {
    font-size: 44px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    font-weight: bolder;
    color:#FFFFFF;
  }
  
  #slogan h2 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 200;
  }
  
 
  #slogan h1, #slogan h2 {
    text-shadow: 2px 2px 4px rgba(212, 212, 212, 0.767);
  }
  @media (max-width: 1200px) {
    #slogan h1 {
      font-size: 36px;
    }
    #slogan h2 {
      font-size: 22px;
    }
  }
  
  @media (max-width: 992px) {
    #slogan h1 {
      font-size: 32px;
    }
    #slogan h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    #slogan h1 {
      font-size: 34px;
      font-weight: bold;
    }
    #slogan h2 {
      font-size: 18px;
      font-weight: 200;
    }
  }
  
  @media (max-width: 480px) {
    #slogan h1 {
      font-size: 24px;
    }
    #slogan h2 {
      font-size: 16px;
    }
  }
  