<section class="message-content-section">
  <div class="grid-container">
    <div class="grid-item">
      <img src="../../assets/images/sec02_01.jpg" alt="Image 1">
    </div>
    <div class="grid-item">
      <div> 
        <h2> Message </h2>
        <p >ちかごろ世間で日本歴史の科学的研究ということがしきりに叫ばれている。科学的研究というのが近代史学の学問的方法による研究という意義であるならば、これは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいう。</p>
      </div>
       </div>
    <div class="grid-item">
      <div> 
        <h2> Message </h2>
        <p >ちかごろ世間で日本歴史の科学的研究ということがしきりに叫ばれている。科学的研究というのが近代史学の学問的方法による研究という意義であるならば、これは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいう。</p>
      </div> </div>
    <div class="grid-item">
      <img src="../../assets/images/sec02_02.jpg" alt="Image 2">
    </div>
  </div>
</section>

